*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

.logo {
  max-width: 50px;
  height: auto;
}

.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }

  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

html, body {height: 100%;}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

@media (min-width: 768px){}

.sidebar {
    width: 14rem;
    background-color: white;
    height: 100%;
}


.content{
    width: 80%;
    background-color: rgb(245, 245, 245, 245);
}