*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {height: 100%;}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

@media (min-width: 768px)
.sidebar{
    width: 14rem!important;
    background-color: white;
    height: 100%;
}


.content{
    width: 80%;
    background-color: rgb(245, 245, 245, 245);
}